/* footer */

.footer {
    display: flex;
    font-family: 'Secular One', sans-serif;
    background-image: url('../img/4c7d263a7f8b55e43ce57f03326b36be.jpg');
    color: white;
    box-shadow: 0px 0px 30px 1px white;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 20px;
    .copyright {
        color: rgb(204, 204, 251);
    }
    .newsletter {
        font-size: bold;
        &__titulo {
            color: rgb(204, 204, 251);
        }
        &__formulario {
            .suscribirme:hover {
                background-color: blanchedalmond; 
            } 
        }
    }
    .redes {
        color: rgb(204, 204, 251);
        a {
            font-size: 1.5rem;
            color: blanchedalmond;
        }
    }
}




