/* header */

.header {
    background-image: url('../img/4c7d263a7f8b55e43ce57f03326b36be.jpg');
    position: sticky;
    top: 0;
    z-index: 90;
    box-shadow: 0px 0px 30px 1px white;
    flex-shrink: 0;
    .navbar-dark {
        color: rgb(204, 204, 251);
        font-size: 1.4rem;
        margin: 0px 10px
    }
    nav {
        .container-fluid {
            a img {
                height: 80px;
            }
            .navbar-collapse {
                justify-content: end;
            }
            div {
                .navbar-nav {
                    color: rgb(204, 204, 251);
                    font-size: 1.4rem;
                    margin: 0px 10px;
                    .nav-item {
                        .nav-link {
                            color: rgb(204, 204, 251);
                            font-size: 1.4rem;
                            margin: 0px 10px
                        }
                    }                  
                }
            }
        }
    }
}