.mainHousing {
    font-family: 'Secular One', sans-serif;
    color: white;
    background-color: #161622;
    background-image: url('../img/4c7d263a7f8b55e43ce57f03326b36be.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size: cover;  
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    padding-bottom: 0px;
    gap: 30px;
    @media screen and (max-width: 500px) {
        height: auto;
    }
    @media (min-width: 501px) and (max-width: 1000px) {
        height: auto;
    }
    &__encabezado {
        margin: 40px auto;
        line-height: 50px;
        margin-bottom: 10px;
        color: blanchedalmond;
        @media screen and (max-width: 500px) {
            margin: 30px 20px;
            font-size: smaller;
            text-align: center;
        }
        @media (min-width: 501px) and (max-width: 1000px) {
            margin: 30px 20px;
            font-size: smaller;
            text-align: center;
        }
    }
    &__servicios {
        margin: 0px auto;
        width: 900px;
        line-height: 25px;
        letter-spacing: 1px;
        a {
            text-decoration: none;
            font: bolder;
            color: blanchedalmond;
            font-size: x-large; 
        }
        @media screen and (max-width: 500px) {
            margin-left: 20px;
            width: 450px;
            line-height: 25px;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
        @media (min-width: 501px) and (max-width: 1000px) {
            margin: auto;
            width: 470px;
            line-height: 25px;
            letter-spacing: 1px;
            margin-bottom: 30px;
        }
    }
}