.cuerpo {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    flex-grow: 1;
    flex-shrink: 0;
    .mainIndex {
        height: 500px;
        background-image: url('../img/4c7d263a7f8b55e43ce57f03326b36be.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        font-family: 'Secular One', sans-serif;
        color: white; 
        @media screen and (max-width: 500px) {
            display: flex;
            flex-direction: column;
            height: 450px;
        }
        @media (min-width: 501px) and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            height: 700px;
        }
        .main__titulo {
            margin-top: 90px;
            padding-left: 130px;
            h1 {
                font-size: 60px;
                letter-spacing: 2px;
                color: map-get($map: $colores, $key: principal); 
            }
            h2 {
                font-size: 30px;
                letter-spacing: 2px;
                color: rgb(204, 204, 251);
                margin-bottom: 30px;
            }
            p {
                line-height: 25px;
                letter-spacing: 1px;
            }
            @media screen and (max-width: 500px) {
                padding-left: 30px;
                text-align: center;
                margin-top: 10px;
            }
            @media (min-width: 501px) and (max-width: 1000px) {
                margin-top: 50px;
                padding-left: 60px;
                text-align: center;
            }
        }
        .main__imagenes {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 50px; 
            .logoBtc {
                max-width: 450px;
                height: auto;
                @media screen and (max-width: 500px) {
                    max-width: 300px;
                }
                @media (min-width: 501px) and (max-width: 1000px) {
                    max-width: 350px;   
                }
            }
            .logoEth {
                max-width: 197px;
                height: auto;
                @media screen and (max-width: 500px) {
                    max-width: 135px;
                }
                @media (min-width: 501px) and (max-width: 1000px) {
                    max-width: 150px; 
                }
            }
            @media screen and (max-width: 500px) {
                display: flex;
            }
            @media (min-width: 501px) and (max-width: 1000px) {
                margin: auto; 
            }
        }
    }
    .secciones {
        display: grid;
        grid-template-columns: repeat (1, 1fr);
        background-image: url('../img/4c7d263a7f8b55e43ce57f03326b36be.jpg');
        gap: 50px;
        .Armamos, .Billetera, .Garantias, .Housing {
            border: 2px solid white;
            text-align: center;
            display: flex;
            align-items: center;
            background-color: #161622;
            font-family: 'Secular One', sans-serif;
            color: white;  
            width: 900px;
            margin: 10px auto;
            height: 200px;
            justify-content: center;
            box-shadow: 0px 0px 15px 1px white;
            @media screen and (max-width: 500px) {
                width: 400px;
                padding: 20px;
                height: 180px; 
            }
            @media (min-width: 501px) and (max-width: 1000px) {
                width: 500px;
                margin: 10px auto;
            }
            h2 {
                color: map-get($map: $colores, $key: secundario);
                margin-bottom: 15px;
                font-size: xx-large;
                @media screen and (max-width: 500px) {
                    font-size: medium;
                }
                a {
                    text-decoration: none;
                    color: blanchedalmond;
                } 
            }
            &:hover {
                filter: invert(1);
            }  
        }
        .Housing {
            margin-bottom: 50px;
        } 
    }
}