.mainRigs {
    color: white;
    background-image: url('../img/4c7d263a7f8b55e43ce57f03326b36be.jpg');
    display: flex;
    flex-direction: column;
    font-family: 'Secular One', sans-serif;
    flex-grow: 1;
    flex-shrink: 0;
    &__rigs {
        display: flex;
        flex-direction: row;
        .mainRigs__rig1, .mainRigs__rig2 {
            text-align: center;
            margin-top: 35px;
            border: 2px solid white;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #161622;
            font-family: 'Secular One', sans-serif;
            color: white;
            box-shadow: 0px 0px 15px 1px white;
            width: 400px;
            margin: 20px auto;
            justify-content: center;
            padding: 20px;
            gap: 26px;
            .mainRigs__palabras {
                color: blanchedalmond;
            }
        }
        @media screen and (max-width: 500px) {
            display: flex;
            flex-direction: column;
        }
        @media (min-width: 501px) and (max-width: 1000px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__titulo {
        margin-top: 35px;
        font-size: x-large;
        text-align: center;
        margin-bottom: 35px;
        color: blanchedalmond;
        @media screen and (max-width: 500px) {
            font-size: medium
        }
    }
    .formasDePago {
        text-align: center;
        margin-top: 35px;
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #161622;
        font-family: 'Secular One', sans-serif;
        color: white;
        box-shadow: 0px 0px 15px 1px white;
        width: 280px;
        margin: 20px auto;
        justify-content: center;
        padding: 10px;
        margin-bottom: 40px;
        .formasDePago2 {
            font-size: x-large;
            color: blanchedalmond;
        }
        .plazoDeEntrega {
            @extend .formasDePago2;
            text-decoration: overline;
        }
    }
    .container {
        .row {
            .mainRigs__parrafos {
                letter-spacing: 1px;
                line-height: 35px;
            }
            .mainRigs__foto {
                text-align: center;
            }
        }
    }
}