* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

@import 'map';
@import 'footer';
@import 'header';
@import 'index';
@import 'contactanos';
@import 'housing';
@import 'academia';
@import 'rigs-de-mineria';


/* MEDIA QUERIE MOBILE */
@media screen and (max-width: 500px) {
    /* footer */
    #footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .newsletter, .copyright, .redes {
        border: 1px solid;
        padding: 3px;
        margin: 3px;
        width: 100%;
        text-align: center;
        margin: 5px;
        box-shadow: 0px 0px 8px 1px;
        margin-left: 0px;
    }
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body {
        overflow-x: hidden;
    } 
}
/* MEDIA QUERIE TABLET */
@media (min-width: 501px) and (max-width: 1000px) {
    /* menu */
    ul {
        display: flex;
        width: 430px;
        justify-content: space-between;
        list-style: none;
    }
    body {
    overflow-x: hidden;
    }
    .header {
        font-size: small;
    }
    /* footer */
    footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    .newsletter, .copyright, .redes {
        border: 1px solid;
        padding: 3px;
        margin: 15px;
        width: 100%;
        height: 100%;
        text-align: center;
        margin: 5px;
        box-shadow: 0px 0px 8px 1px;
        margin-left: 0px;
    }
    .newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}